<div ng-include src="'views/top.html'"></div>
<div class="home-content">
    <h2>Welcome to DevNexus 2013 - February 18-19</h2>
    <p>We will be having an incredible line-up of presenters covering a wide array of crucial topics. Also, this year we are expanding to 7 tracks with 50+ sessions and 3 keynotes! In addition to providing great content for Java developers, DevNexus is a very valuable networking opportunity. This event attracts Java/JVM talent from the South-East's largest corporations, software companies and consulting organizations. You will have an opportunity to discover what other development teams are using as their favorite tools and practices.</p>
</div>
<footer class="footer" ng-include src="'views/bottom.html'"></footer>
