<div ng-include src="'views/top.html'"></div>
<div class="accordion">
    <input type="text" ng-model="search" placeholder="Search Presentations">
    <div ng-repeat="presentation in presentations | filter:search" class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapse-{{presentation.id}}">{{presentation.title}}</a>
        </div>
        <div id="collapse-{{presentation.id}}" class="accordion-body collapse" ng-class="{in : open == presentation.id}" jump-to="open, 'presentation'">
            <div class="accordion-inner">
                <div ng-bind-html="converter.makeHtml(presentation.description)"></div>
                <div>
                    <br><strong>Presented by:</strong> <a href="#/speakers/{{presentation.speaker.id}}">{{presentation.speaker.firstName + " " + presentation.speaker.lastName}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" ng-include src="'views/bottom.html'"></footer>
