<div ng-include src="'views/top.html'"></div>
<div class="accordion">
    <div ng-repeat="session in sessions" class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapse-{{session.id}}">{{session.title}}</a>
        </div>
        <div id="collapse-{{session.id}}" class="accordion-body collapse" ng-class="{in:$first}">
            <div class="accordion-inner">
                {{session.description}}
            </div>
        </div>
    </div>
</div>
